<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="~{layout/layout}">
<head>
  <title>RandomGreeting</title>
  <script th:src="@{/js/greeting/greeting.js}" defer></script>
</head>
<body>
  <div layout:fragment="content">
    <h1>三種の挨拶</h1>
    <p>ボタンをクリックするたびに三種類の挨拶から一つ出力されるぞ！</p>
    <button id="btn-search" type="button">挨拶</button>
    <br>
    <p>挨拶：<span id="greeting">上のボタンを押してね</span></p>
    <img id="greetingImage" width="256" height="256" src="http://urx3.nu/Zlxt">
  </div>
</body>
</html>